<div class="new-flat-design">
  <div class="row">
    <div class="col-xs-12 col-sm-5 col-sm-offset-3">
  <div class=" header" >
      <h1> Add your flat!</h1>
      <h3>Please describe what your flat looks like </h3>
  </div>
  <br>
  </div>
  <%= render 'form', flat: @flat %>
  </div>
</div>
