<h1>Your profile</h1>

<h2>Your trips</h2>
<!-- List of all bookings wher user_id = current user_id -->
<h2>Your guests</h2>
<!-- List of all bookings where flat_id = current_user_id -->
<h2>Your homes</h2>
<!-- List of all flats where flat_id.user_id = current user_id -->

