.booking-card {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  height: 150px;
  margin: 10px 0px;
}

.wrapper h2 {
  padding-bottom: 10px;
  border-bottom: 1px solid rgba(220,224,244,0.4);
  font-size: 20px;
}

.wrapper {
  background: white;
  margin-top: 30px;
  border-radius: 5px;
}
.booking-card:last-child {
  border-bottom: none;
}
.booking-body {
  padding-left: 20px;
  color: rgba(0,0,0,0.4);
  font-size: 15px;
  color: rgba(0,0,0,0.7);
  overflow-y: scroll;
  height: 100px;
  overflow: auto;
  flex: 60%;
}
.booking-name {
  // padding-left: 10px;
  width: 20%;
}
.booking-card h3{
  font-size: 18px;
  margin: 0px 5px;
}
.booking-card p {
  font-size: 15px;
  font-weight: lighter;
  opacity: 0.8;
  margin: 5px 0px;
}

.booking-body strong{
  color: rgba(0,0,0,0.9);
  color: rgba(0,0,0,0.9);
}

.booking-status {
  display: flex;
  justify-content: space-between;
  i, p, a {
    margin-left: 10px;
  }
  i {
    font-size:18px;
  }
  h3, i{
    line-height: 1.5;
  }
  font-size: 14px;
  font-weight: bold;
}
#approved {
  color: #04A366;
}
#declined {
  color: red;
}
#pending {
  color: lightgrey;
}

.delete {
  margin-right: 20px;
}



