.big-box-dashboard {
display:block;
text-align:left;
}

.big-box-dashboard h2 {
  margin-left: 0px;
}

.booking-card {
  display:flex;
  flex-grow: 1;
  text-align: left;
}

.booking-body {
  margin-left:20px;
  margin-right:20px;
}

.booking-name h3 {
  margin:0px;
}
