.gallery {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: repeat(4, 10vw);
    grid-gap: 15px;
}

.gallery__item--1 {
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 4;
}

.gallery__item--2 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 1;
    grid-row-end: 2;
}

.gallery__item--3 {
    grid-column-start: 5;
    grid-column-end: 6;
    grid-row-start: 3;
    grid-row-end: 4;
}

.gallery__item--4 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 1;
    grid-row-end: 2;
}
.gallery__item--5 {
    grid-column-start: 7;
    grid-column-end: 8;
    grid-row-start: 3;
    grid-row-end: 4;
}



.big-box-flat {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75% 25%;
}

.flat-show {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2
}

.reservation-form {
  grid-row: 1 / span 1;
  grid-column: 3 / span 3
}

.flat-info {
  margin-left:20px;
  margin-right: 40px;
}

.reservation-info {
  margin-right: 20px;
  margin-top: 30px;
}

.flat-info > h3 {
  margin-top:5px;

}

.flat-info h4 {
  color: gray;
  margin-bottom: 5px;
}
