.gallery {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 14vw);
    grid-gap: 10px;
    margin: 20px 20px;
    img {
      width:100%;
      height: 100%;
      object-fit: cover;
      border-radius: 2px;
    }
  .placeholder{
    display: flex;
    align-items: center;
    background: rgb(230,230,230);
    width:100%;
    height:100%;
    justify-content: space-around;
    border-radius: 2px;
    p {
      font-size: 30px;
    }
  }
  .placeholder:hover {
      background-color: rgb(220,220,220);
  }
}

.gallery__item--main {
    grid-column-start: 1;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 3;
  }

.gallery__item--small {
    background-size: cover;
    background-repeat: no-repeat;
}

.big-box-flat {
  width: 100%;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 75% 25%;
}

.flat-show {
  grid-row: 1 / span 1;
  grid-column: 1 / span 2;
  i {
  font-size:33px;
  margin-right:5px
  }
}

.reservation-form {
  grid-row: 1 / span 1;
  grid-column: 3 / span 3
}

.reservation-info {
  margin-right: 20px;
  margin-top: 30px;
}

.flat-info {
  margin-left:20px;
  margin-right: 50px;
}

.flat-info > h1 {
  font-size:45px;
  font-weight: bold;

}
.flat-info > h3 {
  margin-top:0px;

}

.flat-info h4 {
  color: gray;
  margin-bottom: 12px;
}

.number-guest-show-page {
  display:flex;
  margin-bottom: 12px;
}

.number-guest-show-page h3 {
  margin: 0;
}

