.btn-flat {
  color: white;
  padding: 8px 24px;
  border-radius: 4px;
  background: #FF5A5F;
  transition: background 0.3s ease;
}

.btn-flat:hover {
  background: #FF5A5F;
  color: white;
}

.box {
  display: flex;
  justify-content: space-around;
}

.reservation-form {
  display: flex;
}

.box-show {
  display: flex;
  justify-content: space-between;
}

.booking_start_date {
  padding-right: 10px;
}
