<div>
  <h1>
  create a nice review!
  </h1>
  <%= simple_form_for [@booking, @review] do |f| %>
  <%= f.input :content %>
  <%= f.submit "add a review", class: "btn btn-primary" %>
  <% end %>
</div>
